
<main class="container">

<div *ngFor="let use of user">
  <div class="row">
     <div class="col-md-12">
        <div id="content" class="content content-full-width">
           <!-- begin profile -->
           <div class="profile">
              <div class="profile-header">
                 <!-- BEGIN profile-header-cover -->
                 <div class="profile-header-cover"></div>
                 <!-- END profile-header-cover -->
                 <!-- BEGIN profile-header-content -->
                 <div class="profile-header-content">
                    <!-- BEGIN profile-header-img -->
                    <div class="img-fluid profile-header-img">
                       <img [src]="use.picture" alt="">
                    </div>
                    <!-- END profile-header-img -->
                    <!-- BEGIN profile-header-info -->
                    <div class="profile-header-info">
                       <h4 class="m-t-10 m-b-5" style="color: black;">{{use.firstname}} {{use.lastname}}</h4>
                       <p class="m-b-10">Bienvenue</p>
                       <a href="#" class="btn btn-sm btn-info mb-2">Edition Profile</a>
                    </div>
                    <!-- END profile-header-info -->
                 </div>
                 <!-- END profile-header-content -->
                 <!-- BEGIN profile-header-tab -->
                 <ul class="profile-header-tab nav nav-tabs">
                  <li class="nav-item"><a routerLink='' href="#profile-post" class="nav-link active show" data-toggle="tab">RETOUR</a></li>
                    <li class="nav-item"><a href="#profile-post" class="nav-link active show" data-toggle="tab">Panier</a></li>
                    <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">Mes adresses</a></li>
                    <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">Mes commandes</a></li>
                    <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">Contact</a></li>

                 </ul>
                 <!-- END profile-header-tab -->

              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div>
  <h1 class="text-muted" *ngIf="cartService.get().length == 0"> Pas de produit en attente</h1>
</div>
<section  *ngIf="cartService.get().length > 0">
  <h1 class=" mx-2 text-center"> En attente de validation </h1>
  <div>
   <table class="table table" style="background-color: rgba(0, 0, 0, 0.233);">
     <thead>
       <tr>

         <th scope="col">Produit</th>
         <th scope="col">photo</th>
         <th scope="col">prix</th>
         <th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let product of cartService.get()">

         <th scope="row">{{product.product.name}}</th>
         <td><img class="img-fluid" style="width:100px" [src]="product.product.picture" alt=""></td>
         <td>{{product.product.price}} e</td>
         <td><a (click)="removeProduct(product)" class="btn btn-danger"><i class="fa fa-trash "></i></a></td>

       </tr>
     </tbody>
   </table>

  </div>
</section>
</main>
