        <!-- Section-->
        <app-header></app-header>
        <section  class="container-fluid"  [ngClass]="statusClass">
          <div class="container ">
            <div class="row">

              <div *ngFor="let product of products"  class="col-md-3 mt-3 mx-auto card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" [src]="product.picture" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.name}}</h5>
                          <!-- Product price-->
                          {{product.price}}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a (click)="goToCart(product)" (click)="setActiveClass()" class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                  </div>
              </div>
            </div>
          </div>

      </section>
      <!-- Footer-->
<app-footer></app-footer>
