        <!-- Section-->
        <app-header></app-header>
        <section  class="container-fluid"  [ngClass]="statusClass">
          <h1 class="text-center">DRESS</h1>
          <div class="container ">
            <div class="row">
              <div *ngFor="let product of products" style="border:none"  class="col-md-3 mt-3 mx-auto card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" [src]="product.picture" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.name}}</h5>
                          <!-- Product price-->
                          {{product.price}}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a (click)="goToCart(product)" (click)="setActiveClass()" class="btn btn-outline-dark mt-auto" ><i class="fa fa-cart-plus"></i> Ajouter au panier</a></div>
               <a [routerLink]="['single-product' ,product.id]" (click)="goToSummary()"  style="color:rgb(0, 0, 0);" ><i class="fa fa-eye"></i>Voir</a>
                  </div>
              </div>
            </div>
          </div>
<ng-template  [ngIf]="isSummary">

</ng-template>

      </section>
      <!-- Footer-->
<app-footer></app-footer>
